{{> header}}

<div class="header">
  {{{img "northplay-logo.png" "header__logo"}}}
  <div class="header__makers">Makers from Copenhagen</div>
  <a href="mailto:hey@northplay.co" class="header__email">hey@northplay.co</a>
</div>

{{> footer}}
