{{> header}}

<section class="header-section">
  <video class="header-section__big-video" playsinline autoplay muted loop poster="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" id="big_video">
    <source src="/videos/background-loop.mp4" type="video/mp4">
    <source src="/videos/background-loop.webm" type="video/webm">
  </video>

  <div class="header">
    {{{img "header-logo.png" "header__logo"}}}
    <div class="header__weare">We are Northplay.<br>An Entertainment<br>Design Studio.</div>
    <div class="header__team">A small passionate team of highly specialized individuals<br>making unique digital products that entertain.</div>
    <a href="mailto:hey@northplay.co" class="header__talk">Let's talk</a>
  </div>
</section>

{{> footer}}
