@import "normalize";
@import "ladda";

@import "_variables";
@import "_functions";
@import "_mixins";
@import "_flex";

html {
  // font-size: 62.5%;
  font-family: $font_family_primary;
  font-weight: $font_weight_book;
}

body, p, a, span, li, h1, h2, h3, h4 {
  -webkit-font-smoothing: antialiased;
}

@include b(container) {
  width: 100%;
}

@import "blocks/_greenlight";
@import "blocks/_header";
@import "blocks/_navigation";
@import "blocks/_product";
@import "blocks/_product-page";
@import "blocks/_wedo";
@import "blocks/_newsletter";
@import "blocks/_footer";
