@include b(header-section) {
  background-color: rgb(41, 65, 159);
  position: relative;
  z-index: 10;
  overflow: hidden;

  @include e(big-video) {
    position: absolute;
    top: 50%;
    left: 50%;

    height: auto;
    min-height: 100%;
    width: auto;
    min-width: 100%;

    z-index: -100;

    background-color: transparent;
    background-image: url('/images/header-background.jpg');
    background-size: cover;
    background-position: 50% 50%;

    transform: translateX(-50%) translateY(-50%);
    transition: opacity 0.5s ease-out;
    opacity: 0;
  }
}

@include b(header) {
  @include flex_container;
  padding: 200px 10px;
  text-align: center;
  z-index: 20;

  @include e(logo) {
    flex: 1 1 auto;
    margin: 15px 0;
    max-width: 100% !important;
    height: auto;
    user-select: none;
  }

  @include e(weare) {
    @include rem(font-size, 3.5rem);
    @include rem(line-height, 3.5rem);
    color: #fff;
    font-weight: $font_weight_heavy;
    text-transform: uppercase;
  }

  @include e(team) {
    @include rem(font-size, 1.9rem);
    @include rem(line-height, 2.2rem);
    color: #fff;

    margin-top: 20px;
  }

  @include e(talk) {
    @include rem(font-size, 2rem);
    @include rem(line-height, 2rem);
    font-weight: $font_weight_book;
    background-color: rgba(255, 239, 63, 1);
    color: rgb(39, 62, 162);
    cursor: pointer;
    border-radius: 25px;
    font-weight: 200;
    text-decoration: none;
    user-select: none;

    display: inline-block;
    padding: 20px 45px;
    margin-top: 50px;

    transition: all 0.15s ease-in-out;

    &:hover {
      transform: translateY(-5px) scale(1.1);
    }
  }
}

@include breakpoint(768px) {
  @include b(header-section) {
    background-image: url(/images/header-background.jpg);
    background-size: cover;
    background-position: center center;

    @include e(big-video) {
      display: none;
    }
  }

  @include b(header) {
    padding: 100px 10px;

    @include e(weare) {
      @include rem(font-size, 2.8rem);
      @include rem(line-height, 3rem);
    }

    @include e(team) {
      @include rem(font-size, 1.6rem);
      @include rem(line-height, 2rem);
      max-width: 500px;
      margin: 20px auto 0 auto;

      br {
        display: none;
      }
    }

    @include e(talk) {
      @include rem(font-size, 1.6rem);
    }
  }
}

@include breakpoint(475px) {
  @include b(header) {
    @include e(weare) {
      br {
        display: none;
      }
    }
  }
}

@include breakpoint(400px) {
  @include b(header) {
    padding: 60px 10px;

    @include e(logo) {
      max-width: 50% !important;
    }

    @include e(weare) {
      @include rem(font-size, 1.8rem);
      @include rem(line-height, 2.2rem);

      br {
        display: block;
      }
    }

    @include e(team) {
      @include rem(font-size, 1.4rem);
      @include rem(line-height, 1.8rem);
    }
  }
}

// @include breakpoint(420px) {
//   @include b(header) {
//     // padding: 200px 20px 0 20px;
//
//     @include e(makers) {
//       @include rem(font-size, 2.9rem);
//     }
//   }
// }
//
// @include breakpoint(320px) {
//   @include b(header) {
//     padding: 150px 20px 0 20px;
//
//     @include e(makers) {
//       @include rem(font-size, 2.4rem);
//     }
//   }
// }
