@include b(header) {
  @include flex_container;
  padding: 100px 10px;
  text-align: center;

  @include e(logo) {
    flex: 1 1 auto;
    margin: 15px 0;
    max-width: 100% !important;
    height: auto;
  }

  @include e(name) {
    @include rem(font-size, 4rem);
    font-weight: bold;
    color: #212121;
  }
}
