@include b(header-section) {
  background-color: rgb(41, 65, 159);
}

@include b(header) {
  @include flex_container;
  padding: 300px 10px;
  text-align: center;

  @include e(logo) {
    flex: 1 1 auto;
    margin: 15px 0;
    max-width: 100% !important;
    height: auto;
  }

  @include e(weare) {
    @include rem(font-size, 3.5rem);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;

  }

  @include e(team) {
    @include rem(font-size, 1.4rem);
    @include rem(line-height, 2.0rem);
    color: #ccc;

    margin-top: 20px;
  }

  @include e(talk) {
    @include rem(font-size, 1.2rem);
    background-color: rgb(254, 237, 81);
    border-radius: 22px;
    font-weight: 200;
    text-decoration: none;

    display: inline-block;
    padding: 20px 30px;
    margin-top: 50px;

    &:hover {
      opacity: 0.8;
    }
  }
}

@include breakpoint(420px) {
  @include b(header) {
    padding: 200px 20px 0 20px;

    @include e(makers) {
      @include rem(font-size, 2.9rem);
    }
  }
}

@include breakpoint(320px) {
  @include b(header) {
    padding: 150px 20px 0 20px;

    @include e(makers) {
      @include rem(font-size, 2.4rem);
    }
  }
}
