// @keyframes translucentBearOut {
//   from {
//     transform: rotateY();
//   }
// }

.navigation {
  @include flex_container;
  padding: 40px 10px;
  display: flex;

  @include e(logo) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 78px;
    
    transition: all 0.15s ease;

    .navigation__bear {
      margin-right: 15px;
      width: 62px;
      height: 59px;
      overflow: hidden;
      position: relative;
      
      * {
        position: absolute;
        transition: all 0.15s ease;
      }
      
      .translucent {
        transform: rotateY(0deg);
      }
      
      .white {
        transform: rotateY(90deg);
      }
    }
    
    .navigation__name {
      width: 171px;
      height: 78px;
      overflow: hidden;
      position: relative;
      
      * {
        position: absolute;
        transition: opacity 0.15s ease;
      }
      
      .translucent {
        opacity: 1;
      }
      
      .white {
        opacity: 0;
      }
    }

    &:hover {
      transform: scale(1.1);
      
      .navigation__bear {
        .translucent {
          transform: rotateY(-90deg);
          opacity: 0;
        }
        
        .white {
          transform: rotateY(0deg);
          transition-delay: 0.15s;
        }
      }
      
      .navigation__name {
        .translucent {
          opacity: 0;
        }
        
        .white {
          opacity: 1;
        }
      }
    }
  }

  @include e(left) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  @include e(right) {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  @include e(link) {
    @include rem(font-size, 1.1rem);
    padding: 15px 20px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      transform: scale(1.2);
    }
  }
}

@include breakpoint(450px) {
  .navigation {
    flex-wrap: wrap;
    justify-content: center;

    @include e(logo) {
      flex-direction: column;
      height: auto;

      svg + svg {
        margin: -10px 0 0 0;
      }
    }

    @include e(left) {
      flex: 1 1 100%;
      justify-content: center;
      margin-bottom: 0px;
    }

    @include e(right) {
      flex: 1 1 100%;
      justify-content: center;
    }
  }
}
