@include b(newsletter) {
  @include flex_container;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 100px auto;

  @include e(title) {
    color: $color_purple;
    @include rem(font-size, 2.5rem);
    @include rem(line-height, 3.3rem);
    font-weight: $font_weight_heavy;
  }

  @include e(about) {
    color: rgb(43, 43, 43);
    @include rem(font-size, 1.2rem);
    @include rem(line-height, 1.6rem);
    font-weight: $font_weight_book;
    text-align: center;

    max-width: 500px;
    margin: 0 auto;
  }

  @include e(form) {
    margin-top: 20px;
  }

  @include e(email) {
    outline: none;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(224, 224, 224);
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    @include rem(font-size, 1.3rem);
    @include rem(line-height, 1.3rem);

    padding: 10px 15px 10px 20px;
    margin: 0;

    &::placeholder {
      color: rgb(189, 189, 189);
    }
  }

  @include e(submit) {
    appearance: none;
    outline: none;
    background-color: $color_purple;
    color: white;
    cursor: pointer;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    @include rem(font-size, 1.3rem);
    @include rem(line-height, 1.3rem);

    margin-left: -4px;
    padding: 15px 20px;

    &:hover {
      background-color: darken($color_purple, 10%);
    }
  }

  @include e(thanks) {
    font-weight: $font_weight_heavy;
    @include rem(font-size, 1.3rem);
    @include rem(line-height, 1.3rem);

    display: none;
    margin-top: 20px;
  }
}

@include breakpoint(330px) {
  .newsletter {
    @include e(email) {
      padding-right: 0;
    }
  }
}
