.newsletter-section {
  background-image: url(/images/newsletter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 0;
}

@include b(newsletter) {
  @include flex_container;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #fff;
  padding: 0 10px;

  @include e(title) {
    @include rem(font-size, 2.5rem);
    @include rem(line-height, 3.3rem);
    font-weight: $font_weight_heavy;
    margin-bottom: 10px;
  }

  @include e(about) {
    @include rem(font-size, 1.2rem);
    @include rem(line-height, 1.6rem);
    font-weight: $font_weight_book;
    text-align: center;

    max-width: 500px;
    margin: 0 auto;
  }

  @include e(form) {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 20px 0 0 0;
    flex: 1 1 100%;
  }

  @include e(email) {
    outline: none;
    background-color: #fff;
    border: 2px solid #00eaff;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    @include rem(font-size, 1.3rem);
    @include rem(line-height, 1.3rem);

    padding: 14px 15px 14px 15px;
    flex: 1 1 auto;

    &::placeholder {
      color: #bdbdbd;
    }
  }

  @include e(submit) {
    appearance: none;
    outline: none;
    background-color: #00eaff;
    color: #2c47ad;
    cursor: pointer;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    @include rem(font-size, 1.3rem);
    @include rem(line-height, 1.3rem);
    flex: 0 0 130px;

    // margin-left: -20px;
    // padding: 16px 20px;

    &:hover {
      box-shadow: 0px 0px 20px 10px rgba(0, 234, 255, 0.25);
      // background-color: darken(#00eaff, 10%);
    }
  }

  @include e(thanks) {
    font-weight: $font_weight_heavy;
    @include rem(font-size, 1.8rem);
    @include rem(line-height, 2.4rem);

    display: none;
    margin-top: 20px;
  }
}

@include breakpoint(330px) {
  .newsletter {
    @include e(email) {
      padding-right: 0;
    }
  }
}

@include breakpoint(320px) {
  .newsletter {
    &__title {
      @include rem(font-size, 2.1rem);
      @include rem(line-height, 2.5rem);
    }
    
    &__form {
      flex-wrap: wrap;
    }
    
    &__email {
      border-radius: 20px;
      border: 2px solid #00eaff;
      margin-bottom: 10px;
      // text-align: center;
    }
    
    &__submit {
      border-radius: 20px;
      padding: 16px 20px;
    }
  }
}
