.header-section--product-page {
  // background-image: none;
}

.product-content {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  @include rem(font-size, 1.1rem);
  @include rem(line-height, 1.6rem);

  h2 {
    @include rem(font-size, 2.4rem);
    @include rem(line-height, 2.8rem);
    margin-top: 0;
  }

  h3 {
    @include rem(font-size, 2.2rem);
    @include rem(line-height, 2.6rem);
    margin-top: 0;
    margin-bottom: 0;
  }

  p, span, em, li {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: #2b2b2b;
    // font-weight: 400;

  }

  img {
    flex: 0 1 auto;
    max-width: 100%;
    height: auto !important;
    display: block;
    margin: 0 auto;
  }

  .grid {
    flex: 1 1 45%;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 15px;

    & + .grid {
      margin-right: 0;
      margin-left: 5px;
    }
  }

  .half {
    // display: flex;
    // flex-flow: column nowrap;
    flex: 1 1 43%;
    margin: 100px 0;
    padding: 0 15px;
    // justify-content: center;
    // align-items: center;
  }

  .podcast {
    margin-top: 30px;
  }

  audio {
    width: 100%;
  }

  .video {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    // padding-top: 25px;
    margin-top: 30px;
    height: 0;

    iframe {
      position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
}

.product-start {
  @include flex_container;
  display: flex;
  padding: 80px 10px 20px 10px;
  flex-flow: row nowrap;

  @include e(details) {
    padding-left: 180px;
  }

  @include e(content) {
    margin-left: 60px;
    @extend .product-content;
    flex: 0 1 50%;
  }
}

.product-page {
  @include flex_container;
  display: flex;
  padding: 0 10px;
  flex-flow: row nowrap;

  @include e(content) {
    @extend .product-content;
  }
}

.product-detail {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;

  @include e(title) {
    @include rem(font-size, 0.8rem);
    font-weight: bold;
    color: #a2a2a2;
    margin-top: 30px;
    margin-bottom: 3px;
  }

  @include e(value) {
    color: #2b2b2b;
    @include rem(font-size, 0.9rem);
    margin-bottom: 3px;
  }

  @include e(link) {
    display: block;
    color: blue;
    margin-bottom: 4px;
    @include rem(font-size, 0.9rem);

    &:hover {
      color: #212121;
    }
  }
}

.product-header {
  @include flex_container;

  @include e(content) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    padding: 0 10px;
  }

  @include e(name) {
    @include rem(font-size, 4.8rem);
    color: #fff;
    font-weight: $font_weight_heavy;
    text-align: center;
  }

  @include e(tagline) {
    @include rem(font-size, 2.1rem);
    text-align: center;
  }

  @include e(links) {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include e(link) {
    margin-top: 10px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    @include rem(font-size, 1.3rem);
    @include rem(line-height, 1.6rem);
    color: #fff;
    font-weight: $font_weight_heavy;
    text-decoration: none;
    margin: 0 10px;
  }
}

@include breakpoint(620px) {
  .header-section.header-section--product-page {
    min-height: 1000px;
    background-size: 300% auto;
  }

  .product-header {
    @include e(content) {
      margin-top: 20px;
    }

    @include e(name) {
      @include rem(font-size, 3.2rem);
    }

    @include e(tagline) {
      @include rem(font-size, 1.6rem);
    }

    @include e(link) {
      @include rem(font-size, 1.2rem);
      @include rem(line-height, 1.4rem);
    }
  }
}

@include breakpoint(850px) {
  .product-start {
    @include e(details) {
      padding-left: 0;
    }

    @include e(content) {
      flex: 1 1 100%;
    }
  }
}

@include breakpoint(565px) {
  .product-start {
    flex-wrap: wrap;

    @include e(details) {
      text-align: center;
      flex: 1 1 100%;
      margin-bottom: 30px;
    }

    @include e(content) {
      margin-left: 0;
    }
  }
}
