.header-section--product-page {
  // background-image: none;
}

.product-page {
  @include flex_container;
  display: flex;
  padding: 40px 10px;
  // flex-flow: row wrap;

  @include e(content) {
    // flex: 1 1 100%;
    margin-left: 60px;
    @include rem(font-size, 1.2rem);
    @include rem(line-height, 1.5rem);
  }
}

.product-detail {
  @include e(title) {
    @include rem(font-size, 0.9rem);
    font-weight: $font_weight_heavy;
    color: #a2a2a2;
    margin-top: 30px;
  }

  @include e(value) {
    color: #2b2b2b;
  }

  @include e(link) {
    display: block;
    color: blue;
    margin-bottom: 3px;
  }
}

.product-header {
  @include flex_container;

  @include e(content) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0 10px;
  }

  @include e(name) {
    @include rem(font-size, 4.2rem);
    color: #fff;
    font-weight: $font_weight_heavy;
    text-align: center;
  }

  @include e(tagline) {
    @include rem(font-size, 1.9rem);
    text-align: center;
  }
}
