@keyframes fadeNmove {
  from { opacity: 0; transform: translateX(150px);}
  to { opacity: 1; transform: translateX(0);}
}

.product-section:nth-child(even) .product {
  flex-direction: row-reverse;
}

@include b(product) {
  @include flex_container;
  display: flex;
  flex-flow: row nowrap;

  padding: 300px 0;

  @include e(preview) {
    flex: 0 1 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    img, video {
      width: 100%;
      height: auto !important;
    }
  }

  @include e(info) {
    flex: 1 1 50%;
    padding: 0 60px;
    opacity: 0;

    &.inView {
      animation: fadeNmove 0.6s;
      animation-fill-mode: forwards;
      animation-delay: 0.5s;
    }
  }

  @include e(icon) {
    display: block;
    margin-bottom: 15px;
  }

  @include e(name) {
    @include rem(font-size, 2.4rem);
    @include rem(line-height, 3.2rem);
    font-weight: $font_weight_heavy;
    margin-bottom: 10px;
  }

  @include e(description) {
    @include rem(font-size, 1.4rem);
    @include rem(line-height, 1.8rem);
  }

  @include e(learn-more) {
    display: inline-block;
    margin-top: 40px;
    padding: 15px 45px;

    @include rem(font-size, 1.5rem);
    @include rem(line-height, 1.8rem);
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    user-select: none;

    transition: all 0.12s ease-in-out;

    &:hover {
      transform: translateY(-2px) scale(1.05);
    }
  }

  @include e(publisher) {
    margin-top: 15px;
    padding-left: 10px;
  }
}

@include breakpoint(800px) {
  .product-section:nth-child(odd) .product {
    // flex-direction: column-reverse;
  }

  .product {
    flex-wrap: wrap;
    padding: 60px 10px;

    @include e(preview) {
      flex-basis: 100%;
      margin-bottom: 60px;

      img {
        max-width: 90%;
      }
    }

    @include e(info) {
      align-items: center;
      text-align: center;
      padding: 0 0;
    }
  }
}

@include breakpoint(460px) {
  .product {
    @include e(name) {
      @include rem(font-size, 2.0rem);
      @include rem(line-height, 2.6rem);
    }

    @include e(description) {
      @include rem(font-size, 1.2rem);
      @include rem(line-height, 1.6rem);
    }

    @include e(learn-more) {

      padding: 12px 35px;

      @include rem(font-size, 1.3rem);
      @include rem(line-height, 1.6rem);
      cursor: pointer;
      border-radius: 20px;
    }
  }
}
