.header-section--product-page {
  // background-image: none;
}

.product-content {
  flex: 1 1 100%;
  @include rem(font-size, 1.2rem);
  @include rem(line-height, 1.7rem);

  h2 {
    @include rem(font-size, 2.4rem);
    @include rem(line-height, 2.8rem);
    margin-top: 0;
  }

  p, span, em, li {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: #2b2b2b;
    // font-weight: 400;

  }

  .video {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    // padding-top: 25px;
    margin-top: 30px;
    height: 0;

    iframe {
      position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
}

.product-start {
  @include flex_container;
  display: flex;
  padding: 80px 10px 20px 10px;
  flex-flow: row nowrap;

  @include e(details) {
    padding-left: 180px;
  }

  @include e(content) {
    margin-left: 60px;
    @extend .product-content;
    flex: 0 1 50%;
  }
}

.product-page {
  @include flex_container;
  display: flex;
  padding: 0 10px;
  flex-flow: row nowrap;

  @include e(content) {
    @extend .product-content;
  }
}

.product-detail {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;

  @include e(title) {
    @include rem(font-size, 0.8rem);
    font-weight: bold;
    color: #a2a2a2;
    margin-top: 30px;
    margin-bottom: 3px;
  }

  @include e(value) {
    color: #2b2b2b;
    @include rem(font-size, 0.9rem);
  }

  @include e(link) {
    display: block;
    color: blue;
    margin-bottom: 4px;
    @include rem(font-size, 0.9rem);

    &:hover {
      color: #212121;
    }
  }
}

.product-header {
  @include flex_container;

  @include e(content) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    padding: 0 10px;
  }

  @include e(name) {
    @include rem(font-size, 4.8rem);
    color: #fff;
    font-weight: $font_weight_heavy;
    text-align: center;
  }

  @include e(tagline) {
    @include rem(font-size, 2.1rem);
    text-align: center;
  }

  @include e(links) {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include e(link) {
    margin-top: 10px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    @include rem(font-size, 1.3rem);
    @include rem(line-height, 1.6rem);
    color: #fff;
    font-weight: $font_weight_heavy;
    text-decoration: none;
    margin: 0 10px;
  }
}

@include breakpoint(850px) {
  .product-start {
    @include e(details) {
      padding-left: 0;
    }

    @include e(content) {
      flex: 1 1 100%;
    }
  }
}

@include breakpoint(565px) {
  .product-start {
    flex-wrap: wrap;

    @include e(details) {
      text-align: center;
      flex: 1 1 100%;
      margin-bottom: 30px;
    }

    @include e(content) {
      margin-left: 0;
    }
  }
}
