@include b(wedo) {
  @include flex_container;
  display: flex;
  flex-wrap: wrap;
  margin: 150px auto;

  @include e(thing) {
    flex: 1 1 33%;
    display: flex;

    flex-flow: column nowrap;
    align-items: center;

    img {
      user-select: none;
    }
  }

  @include e(title) {
    @include rem(font-size, 3.2rem);
    color: rgb(179, 179, 179);
    text-transform: uppercase;

    margin-top: 10px;
  }

  @include e(text) {
    @include rem(font-size, 1.4rem);
    @include rem(line-height, 2rem);
    color: rgb(179, 179, 179);

    max-width: 310px;
    margin-top: 30px;

    &:first-child {
      padding-right: 30px;
    }

    &:nth-child(2) {
      padding: 0 30px;
    }

    &:last-child {
      padding-left: 30px;
    }
  }
}

@include breakpoint(768px) {
  @include b(wedo) {
    @include e(thing) {
      flex-basis: 100%;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include e(text) {
      padding: 0 30px !important;
      max-width: 400px;
      text-align: center;
    }
  }
}
