{{> header}}
  {{> product}}

  <p>Set in a stunning world, with incredibly simple controls you race against time to bring passengers safely to their destination by commanding trains, switching tracks and avoiding collisions in increasingly challenging action-puzzles.</p>

  </div>
</section>
{{> newsetter}}
{{> footer}}
