{{> header}}
  {{> product}}

  <p>Set in a stunning world, with incredibly simple controls you race against time to bring passengers safely to their destination by commanding trains, switching tracks and avoiding collisions in increasingly challenging action-puzzles.</p>

  <div class="video">
    <iframe width="1080" height="608" src="https://www.youtube.com/embed/FOqkdoZgX8s?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>

  </div>
</section>
{{> newsletter}}
{{> footer}}
