{{> header}}
{{> product}}

<section class="product-start">
  {{> details data.product}}
  <div class="product-start__content">
    <h2 id="exploding_millions">Exploding Millions of Trains</h2>
    <p>Conduct THIS! Is our first game. An epic train adventure set in a stunning world, with incredibly simple controls. You race against time to bring passengers safely to their destination by commanding trains, switching tracks and avoiding collisions in increasingly challenging action-puzzles.</p>
    <p>As you progress you unlock new trains, gain access to new beautiful and mysterious regions and earn awards in an addictive journey to the far reaches of this little world.</p>
    <p>Conduct THIS! Has been downloadet more than 2 million times and nominated for an IMGA Award.</p>
  </div>
</section>

<section class="product-page">
  <div class="product-page__content">
    <div class="video">
      <iframe width="1080" height="608" src="https://www.youtube.com/embed/FOqkdoZgX8s?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="half">
      <h3>Building an Award Winning Game</h3>
      <p>The journey of making Conduct THIS! was like any good movie: full of thrilling suspense, long nights and hard work. Our small team laboured passionately for months to create an experience that would satisfy the kid inside us.</p>
      <p>In the episode of the podcast Postmortem below, we discuss the origin of the game and what we learned along the way. We talk about how a great premise combined with a restrictive process helped us design a game that would go on to be experienced by millions of people.</p>
      <div class="podcast">
        <iframe width="560" height="80" scrolling="no" frameborder="no" src="https://www.postmortem.fm/5-conduct/player/iframe"></iframe>
      </div>
    </div>
    <div class="half">
      {{{img "product-conductthis-imga.jpg"}}}
    </div>

    <img src="/images/product-conductthis-concept1.jpg" />

    <div class="grid">
      {{{img "product-conductthis-concept2.jpg"}}}
    </div>
    <div class="grid">
      {{{img "product-conductthis-concept3.jpg"}}}
    </div>

    <img src="/images/product-conductthis-concept4.jpg" />
  </div>
</section>

{{> newsletter}}
{{> footer}}
