{{> header}}
{{> product}}

<section class="product-start">
  {{> details data.product}}
  <div class="product-start__content">
    <h2>Exploding Millions of Trains</h2>
    <p>Conduct THIS! Is our first game. An epic train adventure set in a stunning world, with incredibly simple controls. You race against time to bring passengers safely to their destination by commanding trains, switching tracks and avoiding collisions in increasingly challenging action-puzzles.</p>
    <p>As you progress you unlock new trains, gain access to new beautiful and mysterious regions and earn awards in an addictive journey to the far reaches of this little world.</p>
    <p>Conduct THIS! Has been downloadet more than 2 million times and nominated for an IMGA Award.</p>
  </div>
</section>

<section class="product-page">
  <div class="product-page__content">
    <div class="video">
      <iframe width="1080" height="608" src="https://www.youtube.com/embed/FOqkdoZgX8s?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>

{{> newsletter}}
{{> footer}}
