{{> header}}
{{> product}}

<section class="product-start">
  {{> details data.product}}
  <div class="product-start__content">
    <h2 id="reimagined">Reimagining TV for a nation</h2>
    <p>The DR TV app for the Apple TV is propelling national Danish television into the future. With multiple innovations on the platform and a high level of craftsmanship it is reimagining how we interact with television. Our cultural heritage is in good hands as you swipe through a playful experience where curated meets live &amp; on-demand content all wrapped in a beautifully simple interface.</p>
    <p>We built this groundbreaking native tvOS app which has been critically acclaimed (and widely copied) for it’s subtle additions to the tvOS platform. Things like livestreams playing on focus, slowly moving background images and animating data all adds to a sense of immersion.</p>
  </div>
</section>

<section class="product-page drtv-trailer">
  <div class="product-page__content">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/xFgv7TU1LmE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="product-page drtv-designed">
  <div class="product-page__content drtv-designed__text">
    <h2 id="designed">Designing for the Apple TV</h2>
    <p>Working on the DR TV App for AppleTV and several other tvOS Apps, we’ve learned quite a lot about what works on the big screen and what doesn’t. We have compiled this into an article that highlights some learnings that work as a great primer when you’re setting out to design an experience for the TV.</p>
    <a href="https://medium.com/@flarup/designing-for-the-apple-tv-5992c3aab1e4" target="_blank" class="drtv-design-button">Here’s what we’ve learned <span class="emoji">👉</span></a>
  </div>
</section>

<section class="drtv-journey">
  <div class="drtv-journey__part drtv-journey__part--data">
    <div class="drtv-journey__gif">
      {{{img "case-drtv-journey-1.gif" "gif" false }}}
    </div>
    <div class="drtv-journey__text">
      <h3>Data that breathes</h3>
      <p>Opening a screen for the first time, progress bars fill up until they reach their value. It adds another layer of animation and makes data come alive.</p>
    </div>
  </div>
  <div class="drtv-journey__part drtv-journey__part--images">
    <div class="drtv-journey__gif">
      {{{img "case-drtv-journey-2.gif" "gif" false }}}
    </div>
    <div class="drtv-journey__text">
      <h3>Images that move</h3>
      <p>Ken burns background images to liven up the screen and pull the user in. Making a static screen slowly move is a great way to add immersion.</p>
    </div>
  </div>
  <div class="drtv-journey__part drtv-journey__part--live">
    <div class="drtv-journey__gif">
      {{{img "case-drtv-journey-3.gif" "gif" false }}}
    </div>
    <div class="drtv-journey__text">
      <h3>Content that shows</h3>
      <p>Stream content inside controls on focus (in this case from live-tv channels) to empower users to make informed choices.</p>
    </div>
  </div>
</section>

{{> needateam}}
{{> wedo}}
{{> newsletter}}
{{> footer}}
