{{> header title="Hire us"}}

<div class="brief-container">
  <div class="brief-wrapper">
    <div class="brief">
      <div class="hire-us">
        <div class="hire-us__header">
          {{{img "header-logo.png" "hire-us__logo"}}}
          <h1 class="brief__title">
            We are looking for<br>&nbsp;
            exciting projects<br>&nbsp;
            to work on</h1>
        </div>
        
        <p class="brief__description">
          At Northplay we have a pretty simple philosophy.<br>
          <strong>We want to work on projects that excite us.</strong><br>
          This goes for our own products and for the work we do for our clients.
          So to make it easier to hire us, we've put together this little reverse brief
          to tell you about the sort of work we'd love to do for you.
        </p>
        
        <h2>What can we do for you?</h2>
        <p class="brief__bread">We're at our best when we work on digital products, particularly in the
        entertainment space or at the forefront of technology. Maybe you have a tvOS or iOS app
        that needs a great and experienced team? Or maybe you have a game or some gamified cotnent
        that you need to workshop with a talented group of fun-experts. Here's the overall types of projects
        we'd love to continue to work with:</p>
        
        <ul>
          <li><span class="emoji">📺</span>&nbsp;tvOS apps</li>
          <li><span class="emoji">📱</span>&nbsp;iOS apps (particularly in the entertainment space)</li>
          <li><span class="emoji">🕹</span>&nbsp;Games (big and small)</li>
          <li><span class="emoji">🖲</span>&nbsp;Entertainment that has a hardware component</li>
          <li><span class="emoji">💡</span>&nbsp;Workshops and implementation of gamification</li>
          <li><span class="emoji">🔮</span>&nbsp;AR Projects</li>
        </ul>
        
        <p class="brief__bread">If you have work in any of these areas, we’d love to talk! Seriously, get in touch right now.</p>
        <center><a href="mailto:hey@northplay.co?subject=I%20have%20an%20exciting%20project%20for%20you!" class="hire-us__contact">Get in touch</a></center>
    </div>
    
  </div>
  <div class="brief-footer">
    {{> wedo}}
    {{> newsletter}}
    {{> footer}}
  </div>
</div>
