{{> header}}
{{> product}}

<section class="product-start">
  {{> details data.product}}
  <div class="product-start__content">
    <h2 id="child_universe">A Child's Universe</h2>
    <p>MinBio is Nordisk Film’s childrens universe. A subscription gives you access to all the latest and greatest TV series and movies for kids in Danish. A wonderfully rich and themed interface let’s kids and parents navigate their own little cinema, complete with draping curtains and flowing art on stage.</p>
    <p>We built their native tvOS and iOS apps, both of which are filled with custom elements and details that make interactions sweeter and administration for parents easier. In Short, we’ve helped Nordisk Film bring their fantastic universe to Apple’s platforms in a way that truly enriches the experience.</p>
  </div>
</section>

<section class="product-page">
  <div class="product-page__content">
    {{{img "case-minbio-devices.jpg"}}}
    <div>&nbsp;</div><div>&nbsp;</div>
    {{{img "case-minbio-appicon.jpg"}}}
    <div>&nbsp;</div><div>&nbsp;</div>
    {{{img "case-minbio-journey.jpg"}}}
  </div>
</section>

{{> needateam}}
{{> wedo}}
{{> newsletter}}
{{> footer}}
