<div class="greenlight-banner-container">
  <div class="greenlight">
    <div class="greenlight__text">
      <div class="greenlight__title">
        Help us bring Conduct THIS! To PC &amp; Mac.
      </div>
      <div class="greenlight__subtitle">
        Click here &amp; Vote yes 👉
      </div>
    </div>
    <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=898866022" target="_blank" class="greenlight__button">
      <img src="/images/greenlight.jpg" data-at2x="/images/greenlight_2x.jpg" />
    </a>
  </div>
</div>
