<!doctype html>
<html lang="en_US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <title>{{#if title}}{{ title }} ~ {{/if}}{{ site.title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#1ca4fc">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/css/main.css">
    <script src="https://use.typekit.net/vwl7fdk.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
	</head>

	<body>
		<div class="container">
