<nav class="product-header__navigation navigation">
  <div class="navigation__left">
    <a href="/" class="navigation__logo">
      <span class="navigation__bear">
        <svg xmlns="http://www.w3.org/2000/svg" width="62px" height="59px" viewBox="0 0 62 59" version="1.1" class="translucent">
            <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
                <g id="image" transform="translate(-1.000000, 0.000000)" fill="{{this}}">
                    <path d="M59.792,54.042 C56.859,55.492 53.382,56.612 49.412,57.42 C48.554,56.712 46.838,55.424 44.192,54.02 C40.716,52.174 38.906,51.153 38.609,51.212 C35.879,54.912 37.029,57.509 37.929,58.794 C36.979,58.844 36.029,58.892 35.039,58.916 C33.879,56.239 32.499,48.993 46.669,41.951 C49.359,40.681 49.979,29.681 45.209,30.921 C37.519,32.811 36.889,33.491 35.799,33.711 C35.329,33.811 32.419,32.191 30.019,32.941 C23.559,34.971 21.899,37.861 19.889,38.241 C17.879,38.631 15.139,36.201 13.229,38.631 C11.679,40.601 10.569,42.511 14.304,45.311 C15.434,45.961 12.679,46.121 10.484,51.991 C9.82,53.771 9.617,55.121 9.594,56.111 C7.874,55.601 6.198,55.031 4.579,54.371 C2.079,53.351 0.619,50.761 1.069,48.131 C4.119,30.321 13.479,14.171 28.153,1.431 C30.348,-0.472 33.64,-0.472 35.836,1.431 C50.54,14.19 59.9,30.28 62.92,47.98 C63.34,50.46 62.073,52.92 59.792,54.046 L59.792,54.042 Z M33.782,12.765 L33.607,12.717 L33.557,12.544 L32.084,7.547 L30.686,12.457 L30.636,12.63 L30.462,12.68 L25.402,14.135 L30.375,15.515 L30.549,15.563 L30.599,15.736 L32.069,20.734 L33.469,15.822 L33.519,15.65 L33.689,15.6 L38.749,14.146 L33.769,12.766 L33.782,12.765 Z M28.345,36.412 C32.055,34.655 32.401,35.075 32.273,35.032 C32.689,35.172 32.636,35.772 32.461,36.172 C32.051,37.127 31.341,38.017 30.361,38.396 C29.381,38.774 28.101,38.499 27.571,37.601 C27.301,37.141 27.871,36.651 28.351,36.421 L28.345,36.412 Z" id="Shape"></path>
                </g>
            </g>
        </svg>
        <img src="/images/bear.png" data-rjs="/images/bear_2x.png" class="white">
      </span>
      <span class="navigation__name">
        <svg xmlns="http://www.w3.org/2000/svg" width="171" height="78" class="translucent">
          <path fill="{{this}}" fill-rule="evenodd" d="M17.574 50.6L4.61 37.08V50.6H0V27.428h1.448l12.733 12.96v-12.96h4.61V50.6h-1.22zm15.1-23.6a12 12 0 1 0 11.944 12 11.992 11.992 0 0 0-11.94-12zm0 4.76A7.24 7.24 0 1 1 25.47 39a7.22 7.22 0 0 1 7.207-7.242zM62.438 50.6l-4.573-9.917A6.965 6.965 0 0 0 55 27.4h-8.687v23.17h4.607v-9.26h2.3l4.31 9.29h4.9zM55 32.023a2.323 2.323 0 0 1 2.3 2.347 2.294 2.294 0 0 1-2.3 2.314h-4.08v-4.66H55zm8.5-4.6v4.63h6.417V50.6h4.606V32.056h6.384v-4.628h-17.4zm32.22 8.897H87.2v-8.86h-4.607V50.6H87.2v-9.65h8.522v9.65h4.607V27.46h-4.61v8.86zm7.04-8.893V50.6h4.608v-9.255h2.862a6.96 6.96 0 0 0 0-13.917h-7.47zm4.608 9.29v-4.66h2.862a2.344 2.344 0 0 1 2.3 2.346 2.316 2.316 0 0 1-2.3 2.314h-2.862zm16.188-9.29h-4.607V50.57h13.2v-4.596h-8.59V27.428zm22.473 0h-1.35l-11.12 21.95V50.6h22.8v-1.222zm-5.597 18.546l4.805-9.455 4.41 9.455h-9.216zM165.9 27.428l-4.7 8.727-4.74-8.728h-5.1l7.536 14.678v8.5h4.604v-8.5l7.5-14.677h-5.1z" data-name="northplay copy" class="cls-1"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="171" height="78" class="white">
          <path fill="#fff" fill-rule="evenodd" d="M17.574 50.6L4.61 37.08V50.6H0V27.428h1.448l12.733 12.96v-12.96h4.61V50.6h-1.22zm15.1-23.6a12 12 0 1 0 11.944 12 11.992 11.992 0 0 0-11.94-12zm0 4.76A7.24 7.24 0 1 1 25.47 39a7.22 7.22 0 0 1 7.207-7.242zM62.438 50.6l-4.573-9.917A6.965 6.965 0 0 0 55 27.4h-8.687v23.17h4.607v-9.26h2.3l4.31 9.29h4.9zM55 32.023a2.323 2.323 0 0 1 2.3 2.347 2.294 2.294 0 0 1-2.3 2.314h-4.08v-4.66H55zm8.5-4.6v4.63h6.417V50.6h4.606V32.056h6.384v-4.628h-17.4zm32.22 8.897H87.2v-8.86h-4.607V50.6H87.2v-9.65h8.522v9.65h4.607V27.46h-4.61v8.86zm7.04-8.893V50.6h4.608v-9.255h2.862a6.96 6.96 0 0 0 0-13.917h-7.47zm4.608 9.29v-4.66h2.862a2.344 2.344 0 0 1 2.3 2.346 2.316 2.316 0 0 1-2.3 2.314h-2.862zm16.188-9.29h-4.607V50.57h13.2v-4.596h-8.59V27.428zm22.473 0h-1.35l-11.12 21.95V50.6h22.8v-1.222zm-5.597 18.546l4.805-9.455 4.41 9.455h-9.216zM165.9 27.428l-4.7 8.727-4.74-8.728h-5.1l7.536 14.678v8.5h4.604v-8.5l7.5-14.677h-5.1z" data-name="northplay copy" class="cls-1"/>
        </svg>
      </span>
    </a>
  </div>
  <div class="navigation__right">
    <a href="mailto:hey@northplay.co" class="navigation__link" style="color: {{this}};">Get in touch</a>
  </div>
</nav>
