<section class="needateam-section">
  <div class="needateam">
    <div class="needateam__title">Need a team to make something awesome?</div>
    <div class="needateam__about">We're a small passionate team of highly specialized individuals in Copenhagen, making unique digital products that entertain.</div>
    <a href="mailto:hey@northplay.co" class="needateam__talk">Let's talk</a>
  </div>
</section>
