<section class="newsletter-section">
  <div class="newsletter">
    <div class="newsletter__title">Let's stay in touch</div>
    <div class="newsletter__about">If you want to be the first to know what we're up to, subscribe to our newsletter for infrequent and well crafted emails.</div>
    <form class="newsletter__form" id="newsletter_form">
      <input type="email" name="email" class="newsletter__email" placeholder="email address">
      <button type="submit" form="newsletter_form" id="newsletter_submit" class="newsletter__submit ladda-button" data-style="zoom-in"><span class="ladda-label">Sign up</span></button>
    </form>
    <div class="newsletter__thanks">Thank you for signing up. We'll keep you posted!</div>
  </div>
</section>
