<section class="newsletter-section">
  <div class="newsletter">
    <div class="newsletter__stamp">
      {{{img "newsletter-stamp.png"}}}
    </div>
    <div class="newsletter__title" id="jointheclub">Join the Northplay Club</div>
    <div class="newsletter__about">If you want to be the first to know what we're up to, receive sneak previews and even early discounts. Join the Northplay Club, it's an email list for people who like what we do.</div>
    <form class="newsletter__form" id="newsletter_form">
      <input type="email" name="email" class="newsletter__email" placeholder="email address">
      <button type="submit" form="newsletter_form" id="newsletter_submit" class="newsletter__submit ladda-button" data-style="zoom-in"><span class="ladda-label">Sign up</span></button>
    </form>
    <div class="newsletter__thanks">Thank you for signing up. We'll keep you posted!</div>
  </div>
</section>
